.labelForInput {
    width: 100%;
    color: #5A5A5A;
    margin-bottom: 5px;
    text-align: left;
    font-size: 15px;
}

.inputPassword {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}

.inputPassword input {
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: 2px solid #EAEAEA;
    padding: 0 10px;
    flex: 1;
    padding-right: 40px;
}

.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: auto;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}